#=========================== Filebeat inputs =============================

filebeat.inputs:
- type: log
  enabled: true
  paths:
    - /var/log/elasticsearch/*
    - /var/log/secure
    - /var/log/messages
    #- C:\Users\farah\OneDrive\Bureau\Sofrecom\log.cef
#- type: syslog  #activate syslog module
#  protocol.tcp:
#    host: "{{ elastic_host }}:514"
  
#============================= Filebeat modules ===============================

filebeat.config.modules:
  path: ${path.config}/modules.d/*.yml
  reload.enabled: true

#filebeat.modules:
#-

#==================== Elasticsearch template setting ==========================

#setup.template.settings:
#  index.number_of_shards: 3

#=============================== Dashboards =================================

setup.dashboards.enabled: true

#--------------------------- Elasticsearch output -----------------------------

#output.elasticsearch:
#  hosts:["{{ elastic_host }}:{{ elastic_port }}"]

#----------------------------- Logstash output --------------------------------

output.logstash:
  hosts: ["{{ kibana_host }}:{{ logstash_port }}"]

#----------------------------- Kibana output --------------------------------

setup.kibana:
  host: "{{ kibana_host }}:{{ kibana_port }}"
#server.port: 5601
#server.host: "192.168.100.22"
#elasticsearch.hosts: ["http://192.168.100.22:9200"]


