filter{
  if [event][module] == "iis" {
    if [fileset][name] == "access" {
      # ignore log comments
      if [message] =~ "^#" {
        drop {}
      }
      grok {
        match => { "message" => "%{TIMESTAMP_ISO8601:log_timestamp} %{WORD:iisSite} %{IPORHOST:server_ip} %{WORD:method} %{URIPATH:url} %{NOTSPACE:querystring} %{NUMBER:port} %{NOTSPACE:username} %{IPORHOST:client_ip} %{NOTSPACE:useragent} %{NOTSPACE:referer} %{NUMBER:response} %{NUMBER:subresponse} %{NUMBER:scstatus} %{NUMBER:server_to_client_bytes:int} %{NUMBER:client_to_server_bytes:int} %{NUMBER:timetaken:int}"}
        remove_field => "message"
      }
      # set the event timestamp from the log
      date {
        match => [ "log_timestamp", "YYYY-MM-dd HH:mm:ss" ]
        timezone => "Etc/UCT"
      }
      #date {
      #  match => [ "log_timestamp", "ISO8601" ]
      #  target => "@timestamp"
      #}
      geoip {
        source => "server_ip"
      }
    }
  }
}
