filter {

#IIS filter
  if [event][module] == "iis" {
    if [fileset][name] == "access" {
      # ignore log comments
      if [message] =~ "^#" {
        drop {}
      }
      grok {
        match => { "message" => '%{TIMESTAMP_ISO8601:log_timestamp} %{WORD:iisSite} %{IPORHOST:server_ip} %{WORD:method} %{URIPATH:url} %{NOTSPACE:querystring} %{NUMBER:port} %{NOTSPACE:username} %{IPORHOST:client_ip} %{NOTSPACE:useragent} %{NOTSPACE:referer} %{NUMBER:response} %{NUMBER:subresponse} %{NUMBER:scstatus} %{NUMBER:server_to_client_bytes:int} %{NUMBER:client_to_server_bytes:int} %{NUMBER:timetaken:int}'}
        remove_field => "message"
      }
      # set the event timestamp from the log
      date {
        match => [ "log_timestamp", "YYYY-MM-dd HH:mm:ss" ]
        timezone => "Etc/UCT"
        target => "@timestamp"
      }
      geoip {
        source => "server_ip"
      }
    }
  }
  
#VCS filter
  if [event][module] == "system" {
    if [fileset][name] == "syslog" {
      # ignore log comments
      if [message] =~ "^#" {
        drop {}
      }
      grok {
        match => { "message" => [ '%{TIMESTAMP_ISO8601:log_timestamp} %{WORD:server} %{WORD:vcs_service}: %{NOTSPACE:thread} %{GREEDYDATA:log_msg}',
           '%{TIMESTAMP_ISO8601:log_timestamp}  %{WORD:server} %{WORD:vcs_service}: %{NOTSPACE:thread} %{GREEDYDATA:log_msg}',
           '%{TIMESTAMP_ISO8601:log_timestamp}  %{WORD:server} %{GREEDYDATA:log_msg}',
           '%{TIMESTAMP_ISO8601:log_timestamp} %{WORD:server} %{GREEDYDATA:log_msg}' ]
        }

        remove_field => "message"
      }
      # set the event timestamp from the log
      date {
        match => [ "log_timestamp", "YYYY-MM-dd HH:mm:ss.SSS", "YYYY-MM-dd HH:mm:ss.SS" ]
        target => "@timestamp"
      }
    }
  }
}

